:root {
  --nav-bg-col: rgb(75, 75, 120);
  --text-col: white;
}

body {
  background-color: rgba(125, 116, 111, 0.667);
}

.navLinks-custom,
section {
  /* display: flex; */
  justify-content: space-between;
  background-color: var(--nav-bg-col);
  color: var(--text-col);
  border-radius: 15px;
  margin: 2rem 0;
  min-height: 8rem;
}

.navLinks-custom a {
  color: var(--text-col);
}

.pic {
  background-image: url(images/dan.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

#hero h1 {
  margin-top: 16rem;
}

.mask {
  height: 700px;
}

section {
  margin: 2rem;
  padding: 2rem;
}

a {
  color: var(--text-col);
}

#projects p {
  color: var(--nav-bg-col);
}
